---
---

@import "{{ site.theme }}";
html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
	font-size:106.25%;
}
body{
	font-size:17px;
	line-height:1.47059;
	font-weight:400;
	letter-spacing:-.022em;
	background-color:#fff;
	color:#1d1d1f;
	font-style:normal
}
.wrapper{
	width:1080px;
	margin:0 auto
}
a{
  font-weight:bold
}
